---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="content">
        Loading
    </div>
</Layout>

<script>
    const content = document.querySelector('.content') as HTMLDivElement
    const readCookie = async () => {
        const res = await fetch(`http://localhost:4500/check-cookie`, {
          method: "GET",
          credentials: "include"  
        })
        if (!res.ok){
            window.location.href = "/"
            return
        }
        const data = await res.json()
        return data
    }

    const render = async () => {
        const data = await readCookie()
        content.innerHTML = data.content
    }

    render()
</script>